html, body{
    height: 100%;
}
body{
    padding-top: 4%;
    padding-bottom: 50px;
}
table td, table td * {
    vertical-align: top;
}
.main-wrapper{
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    padding-top: 1%;
    height: 100%;
    overflow: auto;
}
#navbar-bottom{
    height:7%;
    align-items: center;
    display: flex;
}
.tweets{
    position: relative;
    padding-bottom: 5%;
}
.bottom{
    position: relative;
}
.bottom p{
    font-size: 100%;
    color: whitesmoke;
}
.bottom a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(184, 164, 129);
}
.hide{
    visibility: hidden;
}
.show{
    visibility: visible;
}
